---
layout: layout.njk
title: Thanks
permalink: /thanks/
---

<section class="thanks">
  <h1>Thanks</h1>
  <p>Thanks for reaching out. I'll get back to you ASAP.</p>
  <p><a href="/">Back to home</a></p>
</section>
